

<form action="#">
    <dl>
        <dd>{{ form.searchcity.label }} {{ form.searchcity(size=20) }} 
        	for next {{ form.count(size=2) }} {{ form.count.label }}
        	<input type="submit" value="Submit" id="calculate" onclick="getWeatherForcaset(
        	document.getElementsByName('searchcity')[whole_number].value,
        	document.getElementsByName('count')[whole_number].value
        	);" >
        </dd>
        <dd>
            <input type="checkbox" name="exactMatch" checked="checked">Exact Match 
            &nbsp;
            <input type="checkbox" name="remember">Remember<br/ >
        </dd>

    </dl>
 </form>