<br/>
<br/>
<br/>
<form class="form-horizontal">
    <dl>
        <dd> {{ form.searchCity.label }}  {{ form.searchCity(size=20) }} 
        	for next {{ form.count(size=2, class_='count') }} {{ form.count.label }}
        	<input type="submit" class="btn-primary btn btn-success" value="Submit" id="calculate"  >
        </dd>
        <dd>
            <input type="checkbox" name="exactMatch" checked="checked">Exact Match 
            &nbsp;
            <input type="checkbox" name="remember">Remember<br/ >
        </dd>

    </dl>

    <!-- onclick="getWeatherForcaset('{{city}}','{{count}}');" -->
 </form>