<title>San's cloud space {{title}}</title>
<meta name="author" content="Sanjeev Kumar">
<meta name="google-site-verification" content="dTJafzUmINGr44J0zk9X2zmiOQ4ZVzBL4rcbV54WLuA" />
<!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no"> -->
<meta charset="utf-8">
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<link href="{{ url_for('static', filename='bootstrap/bootstrap.css')}}" rel="stylesheet">
<link href="{{ url_for('static', filename='bootstrap/bootstrap-responsive.css')}}", rel="stylesheet">
<!-- <script src="{{url_for('static', filename='/bootstrap/jquery.js')}}"></script> -->
<script src="{{ url_for('static', filename='bootstrap/bootstrap.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Open_Sans-300_400_600_font.css')}}"> -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!-- 
<script src="{{ url_for('static', filename='js/main.js') }}"></script> -->
 

