
{% extends "layout.html" %}

{% block content %}

<main class="hero-section">
	<div class="container">

		<h1 class="title">Displaying weather forcast for {{ city }}, {{ country }} <br/>
    Latitude: {{lat}}, Longitude: {{lng}}</h1>
		<div class="section-content">
			<table class="hovertable">
				<tr>
					<th> Date</th><th>Min</th><th>Max</th><th>Humidity</th>
						<th>Description</th><th>Sunrise</th>
						<th>Sunset</th>
				</tr>
					{% for day in forcast_list %}
					<tr onmouseover="this.style.backgroundColor='#ffff66';"
						onmouseout="this.style.backgroundColor='#d4e3e5';">
						<td class="date">{{day[0]}}</td>
						<td class="id">{{day[1]}}</td>
						<td class="id">{{day[2]}}</td>
						<td class="id">{{day[3]}}</td>
						<td width="30%" >{{day[4]}}</td>
						<td width="15%" class="date" >{{day[5]}}</td>
						<td width="15%" class="date" >{{day[6]}}</td>
					</tr>
					{% endfor %}
				</table>
		 </div>

		 <div class="section-device">
		 	<div id="map"></div>
			<script>
				var map;
  				function initMap() {
    				map = new google.maps.Map(document.getElementById('map'), {
      				center: {lat: {{lat}}, lng: {{lng}}},
      				zoom: 8
    				});
  					}
			</script>
		 	<script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap"
    async defer></script>
		<div class="clearfix"></div>
		</div>
  </main>
{% endblock %}

