<html>
	<head>
		<title>San Weather App</title>
		<meta name="author" content="Sanjeev Kumar">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<body>
		<!--label>GET: </label><input name="method" type="radio" id="method    " value="GET" checked>
		&nbsp; <label> POST:</label> <input name="method" type="radio" id="method" value="POST">
		<form method=document.getElementById("method").value action="/weather"-->
			<form>
			View forcast of city: <input type="text" name="searchcity"> for next
			<input type="text" value={{count}} name="count" maxlength="2" size="2"> 
			{% if count > 1 %}
			days
			{% else %}
			day
			{% endif %}
			<input type="Submit" value="Submit">
			<input type="checkbox" name="remember" checked="checked">Remember<br/ >
		</form>
		<h1>Weather forcast for {{ city }}, {{ country }} </h1>
		<h3>Latitude: {{lat}}, Longitude: {{lng}}</h3>
		<div>
		<table class="hovertable">
			<tr>
				<th> Date</th><th>Min</th><th>Max</th><th>Humidity</th>
					<th>Description</th><th>Sunrise</th>
					<th>Sunset</th>
			</tr>

		{% for day in forcast_list %}
		<tr onmouseover="this.style.backgroundColor='#ffff66';"
			onmouseout="this.style.backgroundColor='#d4e3e5';">
			<td>{{day[0]}}</td>
			<td>{{day[1]}}</td>
			<td>{{day[2]}}</td>
			<td>{{day[3]}}</td>
			<td>{{day[4]}}</td>
			<td>{{day[5]}}</td>
			<td>{{day[6]}}</td>
		</tr>
		{% endfor %}
		</table>
		
		</div>
	</body>
</html>

