<!DOCTYPE html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
      <div class="container">
     <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a align="center" class="brand" href="/"><img src="{{url_for('static', filename='img/dr-manhattan-icon.png')}}" width="20" height="20"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/newmsg">Message</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
          </div>
      </div>
    </div>
    <header class="divbgimg">
      {% if not msg %}
       {% include 'form.html' %}
      {% else %} 
      <br><br><br><br>
      <h3 >&nbsp; &nbsp; &nbsp; &nbsp; 
        &nbsp; Have Your Say!</h3>
      {% endif %}
    </header>
    
    {% block content %}
    {% endblock %}
     <hr>

    <div class="footer text-small" align="center">
      {% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
                <p><small>Hosted on  <a href="https://www.heroku.com/" target="_blank">Heroku Cloud Platform</a><small><br></p>     
    </div>

  </body>
</html>