<!DOCTYPE html>
  <head>
    {% include 'head.html' %}
  </head>
  <body>
    
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
      <div class="container">
     <button type="button" class="btn btn-navbar" data-toggle="collapse"
                    data-target=".nav-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a align="center" class="brand" href="/"><img src="{{url_for('static', filename='img/dr-manhattan-icon.png')}}" width="20" height="20"></a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/newmsg">Message</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
          </div>
      </div>
    </div>
    <header>
      {% if not msg %}
       {% include 'form.html' %}
      {% endif %}
    </header>
    
    {% block content %}
    {% endblock %}
     <hr>

    <div class="footer navbar-fixed-bottom text-small" align="center">
                <p><a href="https://www.heroku.com/" target="_blank"><small>Hosted on Heroku Cloud Platform<small><br></a></p>     
    </div>

  </body>
</html>