{% extends "layout.html" %}
{% block content %}
<br/>
<div  class="form-horizontal">
<form method="POST" action="{{ url_for('newmsg') }}">
  <div class="control-group">
    <div class="controls"><br><br>
      {{ form.csrf_token }}
      {{ form.fullName.label }}
      {{ form.fullName }}
    </div>
  </div>
<ul>
  {% for error in form.fullName.errors %}
    <li style="color:red;">{{ error }}</li>
  {% endfor %}
</ul>
  <div class="control-group">
    <div class="controls">
      {{ form.email.label }}
      {{ form.email(cols="35") }}
    </div>
  </div>
{% for error in form.email.errors %}
<ul>
  <li style="color=red;">{{ error }}</li>
  {% endfor %}
</ul>
  <div class="control-group">
    <div class="controls">
      {{ form.message.label }}
      {{ form.message(cols="35", rows="8") }}
    </div>
  </div>
  {% for error in form.message.errors %}
  <ul>
    <li style="color=red;">{{ error }}</li>
  {% endfor %}
</ul>
  <div class="control-group">
    <div class="controls">
{{ form.recaptcha }}
</div>
</div>
  <div class="control-group">
    <div class="controls">
      <input type="submit" value="Submit">
    </div>
  </div>

</form>
</div>


{% endblock %}
